/* ============================================================================== */
/* =================================== INDEX ==================================== */
/* ============================================================================== */
/* 1. App Specific Root Variables                                                 */

:root {
  /*~~~~~ Colours - based on selected colour palette ~~~~~*/
  --color-1: #80ffdb;
  --color-2: #72efdd;
  --color-3: #64dfdf;
  --color-4: #56cfe1;
  --color-5: #48bfe3;
  --color-6: #4ea8de;
  --color-7: #5390d9;
  --color-8: #5e60ce;
  --color-9: #6930c3;
  --color-10: #7400b8;
}
